@import url('https://fonts.googleapis.com/css2?family=Exo&family=Oswald&display=swap');
:root {
    /* Text colors start*/
        --text-color-header-primary : #E1E5EE;
        --text-color-header-secondary: #2D936C;
        --text-color-navigation-primary: #C7CCDB;
        --text-color-navigation-secondary: #2D936C;
        --text-color-buttons : #2D936C;
        --text-color-forms: #0B3142;
        --text-color-hover: #0B3142;
        --text-color-footer: #C7CCDB;
        --link-text-color:#2D936C;
    /* Text colors end */

    /* Background colors start */
        --button-background-color: #153B50;
        --body-background-color: #312F30;
    
    /* Background colors end */

    /* Font text size start */
        --font-size-header: 48px;
        --font-size-title: 36px;
        --font-size-nav: 24px;
        --font-size-header-button: 24px;
        --font-size-text-buttons: 20px;
        --font-size-text-form: 20px;
        --font-size-small : 16px;
    /* Font text size end */

    /* Font weights colors start */
        --font-weight-bold: 700;
        --font-weight-normal: 400;
        --font-weight-light: 300; 
    /* Font weights colors end */
}