body {
    background-color: var(--body-background-color);
}

.main-container {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;

    display: flex;
}

.left-side-container {
    width: 30%;
}

.right-side-container {
    width: 65%;
}


/* Profile data start */
.profile-data-container{
    background-color: var(--button-background-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: 'Exo',sans-serif;
    color: var(--text-color-header-primary);
    border-radius: 8px;
}

.profile-image-container {
    margin-top: 3%;
}

.name {
    font-weight: var(--font-weight-bold);
}


.profile-image-container img {
    width: 200px;
    border-radius: 100px;
}
.age-sex-container {
    display: flex;
}

/* Profile data end */

/* Achievement container start */
    .achievements-container {
        margin-top: 50px;
        border-radius: 8px;
        background-color: var(--button-background-color);
    }

    .achievements-container .title-container{
        width: 80%; 
        margin: auto;
        padding-top: 20px;
        text-align: center;
        font-size: 30px;
        color: var(--text-color-header-secondary);
        font-family: 'Exo',sans-serif;
        font-weight: var(--font-weight-bold);
    }

    .achievements-list {
        width: 90%;
        margin: auto;
        padding-bottom: 20px;
    }

    .achievements-list ul li {
        display: flex;
        margin-top: 15px; 
        height: 40px;
        line-height: 40px;
        font-family: 'Oswald',sans-serif;
    }

    .achievement-title {
        width: 80%;
        text-align: center;
        color: var(--text-color-header-primary);
    }
/* Achievement container end */


/* Code insert container start */
    .code-insert-container {
        margin-left: auto;
        margin-right: auto;
    }

    .code-insert-container form {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .input-code-container input {
        width: 450px;
        height: 50px;
        background-color: var(--button-background-color);
        border: none;
        border-radius: 25px 0px 0px 25px;
    }

    .input-code-container input:focus{
        outline: none;
    }

    .button-add-container button {
        width: 150px;
        height: 50px;
        background-color: var(--button-background-color);
        border: none;

        border-radius: 0px 25px 25px 0px;
    }
/* Code insert container end */

/* Voucher contianer start */

    .voucher-container ul li {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 30px;
        width: 90%;
        height: 100px;
        background-color: var(--button-background-color);
    }

    .offer-title{
        font-size: var(--font-size-nav);
        color: var(--text-color-header-primary);
    }
    .offer-description{
        font-size: var(--font-size-small);
        color: var(--text-color-footer);
    }

    .points-needed {
        color: var(--text-color-footer);
    }

    .claim-button button {
        width: 50px;
        height: 50px;
        border-radius: 25px;
        background-color: var(--text-color-header-secondary);
        border: none;
        color: var(--text-color-header-primary);
    }

    .points-needed {
        display: flex;
    }
/* Voucher container end */