<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../profile_page/profile_style.css">
    <link rel="stylesheet" href="../global_styling/css_reset.css">
    <link rel="stylesheet" href="../global_styling/styling_variables.css">
</head>
<body>
    <div class="main-container">
        <div class="left-side-container">
            <div class="profile-data-container">
                <div class="profile-image-container">
                    <img src="../assets/profilePicture.jpg" alt="">
                </div>
                <div class="profile-data-info">
                    <p id="name" class="name">Name</p>
                    <p id="country" class="country-text"></p>
                    <div class="age-sex-container">
                        <p id="age" class="age">Age</p>
                        <p class="divider">/</p>
                        <p id="sex" class="sex">Sex</p>
                    </div>
                    <p class="points">Points</p>
                </div>
            </div>
            <div class="achievements-container">
                <div class="title-container">
                    <h2>Achievements</h2>
                </div>
                <div class="achievements-list">
                    <ul>
                        <li>
                            <div class="image-holder">
                                <img src="../assets/medalIcon.png" alt="">
                            </div>
                            <div class="achievement-title">
                                <h2>First Item Recycled</h2>
                            </div>
                        </li>
                        <li>
                            <div class="image-holder">
                                <img src="../assets/medalIcon.png" alt="">
                            </div>
                            <div class="achievement-title">
                                <h2>10 Items Recycled</h2>
                            </div>
                        </li>
                        <li>
                            <div class="image-holder">
                                <img src="../assets/medalIcon.png" alt="">
                            </div>
                            <div class="achievement-title">
                                <h2>Achievement 3</h2>
                            </div>
                        </li>
                        <li>
                            <div class="image-holder">
                                <img src="../assets/medalIcon.png" alt="">
                            </div>
                            <div class="achievement-title">
                                <h2>Achievement 4</h2>
                            </div>
                        </li>
                        <li>
                            <div class="image-holder">
                                <img src="../assets/medalIcon.png" alt="">
                            </div>
                            <div class="achievement-title">
                                <h2>Achievement 5</h2>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="right-side-container">
            <div class="code-insert-container">
                <form action="">
                    <div class="input-code-container">
                        <input type="text" name="" id="" placeholder="Insert code here">
                    </div>
                    <div class="button-add-container">
                        <button>Add</button>
                    </div>
                </form>
            </div>
            <div class="voucher-container">
                <ul>
                    <li>
                        <div class="offer-title">
                            <h2>15%</h2>
                        </div>
                        <div class="offer-description">
                            <p>Use this voucher for a discount on any pair of shoes you buy from Nike</p>
                        </div>
                        <div class="points-needed">
                            <p class="points">15</p>
                            <p>P</p>
                        </div>
                        <div class="claim-button">
                            <button>Claim</button>
                        </div>
                    </li>
                    <li>
                        <div class="offer-title">
                            <h2>30%</h2>
                        </div>
                        <div class="offer-description">
                            <p>Use this voucher for a discount on any pair of shoes you buy from Nike</p>
                        </div>
                        <div class="points-needed">
                            <p class="points">89</p>
                            <p>P</p>
                        </div>
                        <div class="claim-button">
                            <button>Claim</button>
                        </div>
                    </li>
                    <li>
                        <div class="offer-title">
                            <h2>99%</h2>
                        </div>
                        <div class="offer-description">
                            <p>Use this voucher for a discount on any pair of shoes you buy from Nike</p>
                        </div>
                        <div class="points-needed">
                            <p class="points">62</p>
                            <p>P</p>
                        </div>
                        <div class="claim-button">
                            <button>Claim</button>
                        </div>
                    </li>
                    <li>
                        <div class="offer-title">
                            <h2>75%</h2>
                        </div>
                        <div class="offer-description">
                            <p>Use this voucher for a discount on any pair of shoes you buy from Nike</p>
                        </div>
                        <div class="points-needed">
                            <p class="points">92</p>
                            <p>P</p>
                        </div>
                        <div class="claim-button">
                            <button>Claim</button>
                        </div>
                    </li>
                    <li>
                        <div class="offer-title">
                            <h2>40%</h2>
                        </div>
                        <div class="offer-description">
                            <p>Use this voucher for a discount on any pair of shoes you buy from Nike</p>
                        </div>
                        <div class="points-needed">
                            <p class="points">75</p>
                            <p>P</p>
                        </div>
                        <div class="claim-button">
                            <button>Claim</button>
                        </div>
                    </li>
                    <li>
                        <div class="offer-title">
                            <h2>25%</h2>
                        </div>
                        <div class="offer-description">
                            <p>Use this voucher for a discount on any pair of shoes you buy from Nike</p>
                        </div>
                        <div class="points-needed">
                            <p class="points">25</p>
                            <p>P</p>
                        </div>
                        <div class="claim-button">
                            <button>Claim</button>
                        </div>
                        <div class="claim-button">
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>
<script>
    const json = localStorage.getItem('form');
    const obj = JSON.parse(json);
    const arr = new Array();
    for(key in obj){
        arr.push(obj[key]);
    }
    document.getElementById("name").innerHTML = arr[0];
    document.getElementById("country").innerHTML = arr[4];
    document.getElementById("age").innerHTML = arr[5];
    document.getElementById("sex").innerHTML = arr[6];
</script>
</html>
